:root {
	--scrollcol: #f1f1f1;
	--ltback: #e9e9e9;
}

body {
	padding: 0;
	margin: 0;
	color: #494949;
	background: #fff;
	font-family: sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#loading {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
}

.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #696969;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-right: 10px;
}

.notice {
	margin-top: 15px;
	text-align: center;
}

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

#entered {
	text-align: left;
	width: 0px;
	padding: 0px;
	border-width: 0;
}

.col {
	height: 100vh;
	max-height: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logowrap {
	height: 55px;
	background: #f9f9f9;
	color: #494949;
}

.logo {
	max-height: 55px;
	font-size: 26px;
	display: block;
	font-weight: 700;
	padding: 15px 0px 7px 15px;
	box-sizing: border-box;
	letter-spacing: 0.1em;
	float: left;
	width: 50%;
	text-align: left;
}

.tries {
	background: inherit;
	color: #494949;
	display: block;
	font-size: 16px;
	text-align: center;
}

.logoextra {
	width: 50%;
	text-align: right;
	min-height: 30px;
	max-height: 50px;
	display: block;
	float: right;
}

.btn1 {
	font-size: 26px;
	height: 35px;
	width: 35px;
	padding: 0px;
	box-sizing: border-box;
	margin-top: 10px;
	border: 1.6px solid #a0a0a0;
	border-radius: 3px;
	color: #696969;
	background: #f1f1f1;
	cursor: pointer;
	margin-right: 5px;
	font-weight: 400;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.r1 {
	background: inherit;
	text-align: center;
}

.r2 {
	height: 100%;
	overflow: hidden;
	text-align: center;
	padding: 10px 15px 0px 15px;
}

.r3 {
	text-align: center;
}

#rrr {
	display: flex;
	justify-content: center;
}

table.GeneratedTable {
	width: 100%;
	background-color: inherit;
	border-collapse: collapse;
	border-width: 0px;
	border-color: #ffffff;
	border-style: solid;
	font-size: 15px;
	text-align: left;
	padding: 0px;
	color: inherit;
}

table.GeneratedTable td, table.GeneratedTable th {
	border-width: 0px;
	border-color: #ffffff;
	border-style: solid;
	padding: 3px;
	text-align: left;
	white-space: nowrap;
}

table.GeneratedTable thead {
	background-color: #ffffff;
}

thead tr th:first-child, tbody tr td:first-child {
	width: 4em;
	min-width: 4em;
	max-width: 4em;
	word-break: break-all;
}

.gamearea {
	text-align: center;
	max-width: 500px;
	height: 100%;
	overflow: scroll;
	display: inline-block;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.gamearea::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.gamearea::-webkit-scrollbar-thumb {
	background: var(--scrollcol);
	border-radius: 0px;
}

.gamearea::-webkit-scrollbar-thumb:hover {
	background: var(--scrollcol);
}

.gamearea::-webkit-scrollbar-track {
	background: inherit;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.gamearea::-webkit-scrollbar-corner {
	background: inherit;
}
.wordarea {
	display: flex;
}
.stepwrap {
	margin: auto;
}

.lt, .lt2 {
	width: 50px;
	height: 50px;
	font-size: 28px;
	padding: 0px;
	text-align: center;
	text-transform: capitalize;
	margin-right: 6px;
	border: 0px solid #999999;
	color: #292929;
	font-weight: 400;
	background: var(--ltback);
	border-radius: 2px;
	caret-color: transparent;
	box-sizing: border-box;
	-webkit-transition: background-color 400ms linear;
	-ms-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
	cursor: default;
}

.lt:focus, .lt2:focus {
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

.lt:disabled, .lt2:disabled {
	opacity: 1;
	color: #292929;
	-webkit-text-fill-color: #292929;
}

.keywrap {
	align-content: center;
	padding: 0px 15px 5px 15px;
	margin: 0px;
}

.keyarea {
	height: 100%;
	max-width: 500px;
	width: 100%;
	display: inline-block;
}

.keyrow {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto 8px;
	touch-action: manipulation;
}

.keyrow button, .krk {
	font-weight: bold;
	border: 0;
	padding: 0;
	height: 30px;
	cursor: pointer;
	background: #e1e1e1;
	color: #393939;
	flex-grow: 1;
	text-transform: uppercase;
	margin-right: 6px;
	user-select: none;
	border-radius: 3px;
}

.ggg {
	width: 80%;
	background: #d1d1d1;
	height: 8px;
	display: inline-block;
	margin-right: 8px;
	border-radius: 10px;
}

.graphs {
	background: #f9f9f9;
	padding: 2px 15px 15px 15px;
	border-radius: 5px;
	margin-top: 15px;
	text-align: center;
}

.graphs h3 {
	text-align: center;
	font-weight: 400;
	padding: 0px;
	margin: 6px;
	margin-top: 9px;
}

#sharecontent {
	height: 100px;
	overflow: scroll;
	background: inherit;
	text-align: center;
	width: 100%;
	outline: none;
	border: 0px solid silver;
	margin-bottom: 8px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	padding: 0px;
	font-size: 15px;
	line-height: 16px;
}

#sharecontent::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

#sharecontent::-webkit-scrollbar-thumb {
	background: #B3AFB3;
	border-radius: 9px;
}

#sharecontent::-webkit-scrollbar-thumb:hover { background: #B3AFB3; }

#sharecontent::-webkit-scrollbar-track {
	background: inherit;
	border-radius: 9px;
	box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

#sharecontent::selection { background: transparent; }

#sharesvg svg {
	display: block;
	margin: auto;
	width: 98px;
}

.btn2 {
	border: 0px solid grey;
	background: #eaeaea;
	color: #393939;
	font-size: 14px;
	padding: 4px 7px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button.btn3 {
	border: 0px solid grey;
	background: #eaeaea;
	color: #393939;
	padding: 2px 3px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.emptybtn { flex-grow: 0.5; }
.widebtn { flex-grow: 1.5; }

hr {
	margin: 2.6px;
	border: none;
}

#wlist {
	line-height: 1.6em;
	margin-bottom: 10px;
	min-height: 80px;
	padding: 0px;
}

div a, p a { color: inherit; }
/* #wlist { display: none; } */

.shaker {
	animation: shaker 0.84s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@-webkit-keyframes shaker { 10%, 90% { -webkit-transform: translate3d(-1px, 0, 0); } 20%, 80% { -webkit-transform: translate3d(2px, 0, 0); } 30%, 50%, 70% { -webkit-transform: translate3d(-4px, 0, 0); } 40%, 60% { -webkit-transform: translate3d(4px, 0, 0); } }
@keyframes shaker { 10%, 90% { transform: translate3d(-1px, 0, 0); } 20%, 80% { transform: translate3d(2px, 0, 0); } 30%, 50%, 70% { transform: translate3d(-4px, 0, 0); } 40%, 60% { transform: translate3d(4px, 0, 0); } }

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	margin-top: 10px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #898989;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 2.5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider { background-color: #696969; }
input:focus+.slider { box-shadow: 0 0 1px #2196F3; }

input:checked+.slider:before {
	-webkit-transform: translateX(22px);
	-ms-transform: translateX(22px);
	transform: translateX(22px);
}

.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: 1.6s;
	animation-duration: 1.6s;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
}

@-webkit-keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); } 20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); } 40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); } 60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); } 80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); } 100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }
@keyframes bounceIn { 0%, 20%, 40%, 60%, 80%, 100% { -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); } 0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); } 20% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); } 40% { -webkit-transform: scale3d(.9, .9, .9); transform: scale3d(.9, .9, .9); } 60% { opacity: 1; -webkit-transform: scale3d(1.03, 1.03, 1.03); transform: scale3d(1.03, 1.03, 1.03); } 80% { -webkit-transform: scale3d(.97, .97, .97); transform: scale3d(.97, .97, .97); } 100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); } }

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	position: relative;
	background: #fff;
	color: #494949;
	margin: auto;
	padding: 0;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 90%;
	max-width: 550px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.7s;
	animation-name: animatetop;
	animation-duration: 0.7s;
	border-radius: 6px;
}

@-webkit-keyframes animatetop { from { top: -200px; opacity: 0 } to { top: 0; opacity: 1 } }
@keyframes animatetop { from { top: -200px; opacity: 0 } to { top: 0; opacity: 1 } }

.close {
	color: #494949;
	float: right;
	font-size: 32px;
	padding: 0px 10px;
	height: 30px;
	margin: 0px;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 10px 16px 0px 16px;
	text-align: center;
}

.modal-header h2 {
	text-align: center;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
	margin-top: 30px;
}

.modal-body {
	margin: 0px;
	padding: 0px 30px 20px 30px;
}

.modal-body p {
	text-align: center;
	line-height: 1.4;
}

@media only screen and (max-width:800px) {
	.keyrow button {
		margin-right: 3px;
		border-radius: 4px;
	}
	
	.keywrap { padding: 0px 5px; }
	
	.logo {
		padding: 14px 0px 7px 12px;
		width: 50%;
		letter-spacing: 0.1em;
	}
	
	.lt, .lt2 {
		padding: 0px;
		width: 50px;
		height: 50px;
		font-size: 30px;
		margin-right: 4px;
	}
	
	.r2 {
		padding: 0px 5px 0px 5px;
		margin-bottom: 7px;
	}
	
	.gamearea {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	
	.logoextra {
		width: 50%;
	}
	
	#sharecontent {
		padding-right: 5px;
		line-height: 1.5em;
	}
	
	.tries {
		display: block;
		padding: 10px;
		font-size: 18px;
	}
	
	hr { margin: 4px; }
	.modal-body { padding: 0px 20px 20px 20px; }
}

@media only screen and (max-width: 400px) {
	.lt, .lt2 {
		padding: 0px;
		width: 40px;
		height: 40px;
		font-size: 28px;
	}
}